.header {
  display: flex;
  flex-direction: row;
  color: #fff;
  width: 70%;
  position: absolute;
  top: 0px;
  left: 4em;
  padding: 30px 10px;
  flex-shrink: initial;
}

.site-icon {
  height: 35px;
  width: auto;
}

.change-bc-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-bc-to-light, .change-bc-to-dark {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
}

.change-bc-to-light{
  margin-right: 30px;
}

.site-name {
  font-size: 1.5rem;
  position: relative;
  left: 10px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px;
  }

  .site-name {
    font-size: 1.2rem;
  }

  .site-icon {
    height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .site-name {
    font-size: 1rem;
  }

  .site-icon {
    height: 20px;
  }
}
