.letter {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 90px;
  gap: 10px;
}

.letter-itself,
.letter-count,
.letter-percentage {
  position: relative;
  bottom: 8px;
}

.bar-container {
  position: relative;
  width: 100%;
}

.bar {
  height: 15px;
  border: 1px solid #14151c;
  border-radius: 20px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.second-degree-bar {
  width: 100%;
  height: 15px;
  border: 1px solid #14151c;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
