@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.card {
  padding: 2em;
}

h2 {
  position: relative;
  font-size: 150%;
  width: 200px;
  margin: 0 auto;
}
